<h1>Inventory</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Category</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of productsDataService.getProducts()">
      <th scope="row">{{product.id}}</th>
      <td>{{product.category}}</td>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>
        <app-price-updater [price]="product.price" (priceChanged)="updatePrice(product.id, $event)">
        </app-price-updater>
      </td>
    </tr>
  </tbody>
</table>

<button class="btn btn-primary" (click)="addNewProduct()">
  <fa-icon [icon]="faPlusSquare"> Add</fa-icon>
</button>